body {
    font-family: 'Urbanist', sans-serif;
  }
  
  .custom-navbar {
    background-color: #FF1717 !important;
  }
  
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .scrollmenu {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    background-color: #FF1717;
  }
  
  .scrollmenu a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
  }
  
  .scrollmenu::-webkit-scrollbar {
    display: none;
  }
  
  .nav-link .btn {
    padding: 0.25rem 1rem;
  }
  
  @media (max-width: 991px) {
    .navbar-brand {
      position: static;
      transform: none;
    }
  }
  
  