.wavy span {
  position: relative;
  display: inline-block;
  color: #fa3909;
  text-transform: uppercase;
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif; 
  animation: wavy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  text-shadow: 0 3px #4361ee, 0 5px #fc2515, 0 7px #4361ee;
}

@keyframes wavy {
  0%, 40%, 100% {
      transform: translateY(0);
  }
  20% {
      transform: translateY(-20px);
  }
}
.Y{
  animation: bounce 1s ease infinite;
  -webkit-animation: bounce 1s ease infinite;
}